version: '3.8'

services:

  postgres:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mka-lms-2025-db
    volumes:
      - pgdata-mka-lms-2025:/var/lib/postgresql/data
    networks:
      - lms-net



volumes:
  pgdata-mka-lms-2025:
