version: '3.8'

services:

  postgres:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mka-lms-2025-db
    volumes:
      - pgdata-mka-lms-2025:/var/lib/postgresql/data
    networks:
      - lms-net

  n8n:
  image: n8nio/n8n
  ports:
    - "5678:5678"
  environment:
    DB_TYPE: postgresdb
    DB_POSTGRESDB_HOST: postgres
    DB_POSTGRESDB_PORT: 5432
    DB_POSTGRESDB_DATABASE: mka-lms-2025-db
    DB_POSTGRESDB_USER: postgres
    DB_POSTGRESDB_PASSWORD: postgres
    N8N_BASIC_AUTH_ACTIVE: true
    N8N_BASIC_AUTH_USER: admin
    N8N_BASIC_AUTH_PASSWORD: password
  networks:
    - lms-net


volumes:
  pgdata-mka-lms-2025:

networks:
  lms-net:
